<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each.with_index(1) do |item, index| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.large_image.present? %>
              <%= image_tag(item.large_image , alt: item.title) %>
            <% else %>
              <%= image_tag(item.middle_image , alt: item.title) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% if params[:controller] == "ranking" %>
              <span style="color: red;"><%= index %>位 :</span>
            <% end %>
            <%= item.title %>
          </p>
        </div>
        <% if logged_in? %>
          <%= render 'items/action' , item: item %>
        <% else %>
          <%= render 'items/action2', item: item %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
